<form [formGroup]="recipeForm" (ngSubmit)="createRecipe()" enctype="multipart/form-data">
  <fieldset class="card m-3 p-3 border-0 shadow-sm">
    <legend>Översikt</legend>
    <label for="recipe-name">Namn på recept:</label>
    <input id="recipe-name" [formControl]="recipeName">
    <label for="recipe-description">Beskrivning:</label>
    <textarea id="recipe-description" [formControl]="recipeDescription" required></textarea>
  </fieldset>

  <fieldset formArrayName="ingredientSections" class="card m-3 p-3 border-0 shadow-sm">
    <legend>Recept</legend>
    @for (ingredientSection of ingredientSections.controls; track ingredientSection; let i = $index) {
      <fieldset [formGroupName]="i">
        <legend>Ingrediensgrupp {{ i + 1 }}</legend>
        <label for="section-name-{{ i }}">Namn:</label>
        <input id="section-name-{{ i }}" formControlName="name">
        <fieldset formArrayName="ingredients">
          <legend>Ingredienser</legend>
          @for (ingredient of getIngredients(i).controls; track ingredient; let j = $index) {
            <div [formGroupName]="j">
              <label for="ingredient-name-{{ i }}-{{ j }}">Namn:</label>
              <input id="ingredient-name-{{ i }}-{{ j }}" formControlName="name">

              <label for="ingredient-unit-{{ i }}-{{ j }}">Enhet:</label>
              <input id="ingredient-unit-{{ i }}-{{ j }}" formControlName="unit">

              <label for="ingredient-amount-{{ i }}-{{ j }}">Mängd:</label>
              <input id="ingredient-amount-{{ i }}-{{ j }}" formControlName="amount">

              <button type="button" class="btn btn-primary" (click)="removeIngredient(i, j)">Ta bort ingrediens</button>
            </div>
          }
          <button type="button" class="btn btn-primary" (click)="addIngredient(i)">Lägg till ingrediens</button>
        </fieldset>
        <button type="button" class="btn btn-primary" (click)="removeSection(i)">Ta bort ingrediensgrupp</button>
      </fieldset>
    }
    <button type="button" class="btn btn-primary" (click)="addSection()">Lägg till ingredientgrupp</button>
  </fieldset>

  <fieldset formArrayName="steps" class="card m-3 p-3 border-0 shadow-sm">
    <legend>Steg</legend>
    @for (step of recipeSteps.controls; track step; let i = $index) {
      <div>
        <label for="step-description-{{i}}">Steg {{ i + 1 }}</label>
        <input id="step-description-{{i}}" [formControlName]="i">
        <button type="button" class="btn btn-primary" (click)=removeStep(i)>Ta bort steg</button>
      </div>
    }
    <button type="button" class="btn btn-primary" (click)="addStep()">Lägg till steg</button>
  </fieldset>

  <button type="submit" class="btn btn-primary">
    <!--          [disabled]="recipeForm.invalid">-->
    Skapa recept
  </button>
</form>
