<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm px-3">
  <a class="navbar-brand fw-bold text-uppercase" routerLink="/">Matappen</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarContent"
  >
    <ul class="navbar-nav text-uppercase mx-auto">
      <li class="nav-item" *ngIf="!authState.isLoggedIn()">
        <a class="nav-link" routerLink="/register" routerLinkActive="active"
          >Skapa konto</a
        >
      </li>
      <li class="nav-item" *ngIf="!authState.isLoggedIn()">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >Logga in</a
        >
      </li>
      <li class="nav-item" *ngIf="authState.isLoggedIn()">
        <a
          class="nav-link"
          routerLink="/recipe/create-recipe-2"
          routerLinkActive="active"
          >Skapa recept</a
        >
      </li>
      <li class="nav-item" *ngIf="authState.isLoggedIn()">
        <a
          class="nav-link"
          routerLink="/recipe/my-recipes"
          routerLinkActive="active"
          >Mina recept</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/recipe/all-recipes"
          routerLinkActive="active"
          >Alla recept</a
        >
      </li>
      <li class="nav-item" *ngIf="authState.isLoggedIn()">
        <a class="nav-link" routerLink="/account" routerLinkActive="active"
          >Mitt konto</a
        >
      </li>
    </ul>

    <form class="d-flex" (submit)="performSearch()">
      <input
        class="form-control me-2"
        type="search"
        [(ngModel)]="searchQuery"
        placeholder="Sök recept..."
        aria-label="Sök"
      />
      <button class="btn btn-outline-primary" type="submit">Sök</button>
    </form>
  </div>
</nav>
