<form [formGroup]="recipeForm" (ngSubmit)="createRecipe()" enctype="multipart/form-data">
  <fieldset>
    <legend>Recipe Details</legend>
    <label for="recipe-name">Namn på recept:</label>
    <input id="recipe-name" formControlName="nameRecipe" required/>

    <label for="recipe-description">Beskrivning:</label>
    <textarea id="recipe-description" formControlName="description" required></textarea>
  </fieldset>

  <fieldset>
    <legend>Steg</legend>
    <div formArrayName="steps">
      <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
        <label for="description{{ i }}">Stegbeskrivning:</label>
        <textarea id="description{{ i }}" formControlName="description" required></textarea>

        <label for="order{{ i }}">Stegordning:</label>
        <input id="order{{ i }}" type="number" formControlName="stepOrder" required/>

        <button type="button" (click)="removeStep(i)">Ta bort steg</button>
      </div>
    </div>
    <button type="button" (click)="addStep()">Lägg till steg</button>
  </fieldset>

  <fieldset formArrayName="sections">
    <legend>Ingrediensgrupper</legend>
    <div *ngFor="let section of sections.controls; let i = index" [formGroupName]="i">
      <label for="section-name{{ i }}">Ingrediensgrupp:</label>
      <input id="section-name{{ i }}" formControlName="name" required/>

      <div formArrayName="ingredients">
        <div *ngFor="let ingredient of getIngredients(section).controls; let j = index" [formGroupName]="j">
          <label for="ingredient-name{{ i }}-{{ j }}">Ingrediens:</label>
          <input id="ingredient-name{{ i }}-{{ j }}" formControlName="name" required/>

          <label for="ingredient-unit{{ i }}-{{ j }}">Enhet:</label>
          <input id="ingredient-unit{{ i }}-{{ j }}" formControlName="unit"/>

          <label for="ingredient-amount{{ i }}-{{ j }}">Antal:</label>
          <input id="ingredient-amount{{ i }}-{{ j }}" type="number" formControlName="amount"/>

          <button type="button" (click)="removeIngredient(i, j)">Ta bort ingrediens</button>
        </div>
      </div>
      <button type="button" (click)="addIngredient(i)">Lägg till ingrediens</button>
      <button type="button" (click)="removeSection(i)">Ta bort ingrediensgrupp</button>
    </div>
    <button type="button" (click)="addSection()">Lägg till ingrediensgrupp</button>
  </fieldset>

  <fieldset>
    <legend>Ladda upp bilder</legend>
    <input type="file" (change)="onFileSelect($event)" multiple/>
    <div *ngIf="uploadedFiles.length">
      <p>Uppladdade filer:</p>
      <ul>
        <li *ngFor="let file of uploadedFiles">{{ file.name }}</li>
      </ul>
    </div>
  </fieldset>

  <button type="submit" [disabled]="recipeForm.invalid">Skapa recept</button>
</form>
